<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/output.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />


    <title>Document</title>
</head>
<body>

    <div class="flex items-center justify-center h-screen">
            <!-- Ticket Form -->
    <section>
        <h1 class="text-2xl">CREAR TICKET</h1>
        <p class="text-sm mt-1">Haz tu solicitudes con confianza, nosotros nos encargamos del resto.</p>

        <p class="pt-4">De: Sofia Gaitán</p>

        <div class="flex pt-4 space-x-6 items-center">
            <div>
                <label for="asunto">Asunto</label>
                <input type="text" name="asunto" id="asunto" class="border rounded-lg pl-4">
            </div>

            <!-- DropDowns -->
            <div class="">
                <button class="bg-non_photo_blue py-1 px-4 rounded-lg border border-cerulean">Prioridad</button>
            </div>
            
            <div class="">
                <button class="bg-non_photo_blue py-1 px-4 rounded-lg border border-cerulean">Requerimiento</button>
            </div>
            <div class="">
                <button class="bg-non_photo_blue py-1 px-4 rounded-lg border border-cerulean">Aplicativo</button>
            </div>
        </div>

        <!-- Quill Editor -->
        <div class="mt-11">
            <p class="my-4">Descripción</p>
            <div id="descripcion" class="">
                <h1>Estimado usuario</h1>
                <p>Por favor, ayúdanos a mejorar tu experiencia al proporcionarnos detalles sobre el problema que estás experimentando:</p>
    
            </div>
        </div>

        <!-- File input -->
        <div class="flex items-center justify-center w-full mt-6">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50   hover:bg-gray-100 ">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 

        <div class="flex justify-end space-x-6 pt-6">
            <button class="bg-non_photo_blue py-1 px-4 rounded-lg border border-cerulean">Cancelar</button>
            <button class="bg-non_photo_blue py-1 px-4 rounded-lg border border-cerulean">Crear</button>
        </div>
    </section>
    </div>


    <!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  const quill = new Quill('#descripcion', {
    theme: 'snow'
  });
</script>


</body>
</html>